<% provide :title, t(".home") %>
<nav class = "group">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to t(".truyencuoi"), load_story_path(type: "Truyen Cuoi"),
        remote: true %>
    </li>
    <li>
      <%= link_to t(".truyenteen"), load_story_path(type: "Truyen Teen"),
        remote: true %>
    </li>
    <li>
      <%= link_to t(".truyenngungon"), load_story_path(type: "Truyen Ngu Ngon"),
        remote: true %>
    </li>
    <li>
      <%= link_to t(".truyenngan"), load_story_path(type: "Truyen Ngan"),
        remote: true %>
    </li>
    <li>
      <%= link_to t(".truyenngontinh"), load_story_path(type: "Truyen Ngon Tinh"),
        remote: true %>
    </li>
  </ul>
  <%= form_for "", url: root_path, role: t(".search"), method: :get do %>
  <%= text_field_tag :search, @search_term, placeholder: t(".search") %>
  <% end %>
</nav>
<div id = contentleft>
  <h2 id = "content"> <%= t ".truyenlove" %> </h2>
  <div id="list-story">
    <%= render "list_truyen", collection: @stories %>
  </div>
  <%= paginate @stories, theme: "twitter-bootstrap-3" %>
</div>
<div id = "sidebar">
  <h2 id = "name"> <%= t ".truyennew" %> </h2>
  <div>
    <%= render "new_story", collection: @news %>
  </div>
</div>
