<div class="row">
  <div class="col-md-1">
    <%= gravatar_for current_member %>
  </div>
  <div class="col-md-11">
    <%= form_for :comment, url: comments_path, remote: true do |f| %>
      <div class="col-md-12">
        <%= f.cktext_area :content, class: "comment-new", placeholder: t(".compose_comment") %>
      </div>
      <div class="text-center error-comment"></div>
      <div class="col-md-10"></div>
      <div class="col-md-2"><%= f.submit t(".commnent"), class: "btn btn-sm btn-primary" %></div>
      <%= f.hidden_field :story_id, value: @story.id %>
    <% end %>
  </div>
</div>
