<% provide :title, t(".post_stories") %>
<h1><%= t ".post_stories" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @story do |t| %>
      <%= render "shared/error_messages_story" %>
      <b><%= t ".name" %></b><span class="red">*</span>
      <%= t.text_field :name, class: "form-control" %>
      <%= t.label :image %>
      <span class="picture">
        <%= t.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
      </span>
      <b><%= t ".describe" %></b><span class="red">*</span>
      <%= t.text_field :describe, class: "form-control" %>
      <b><%= t ".author" %></b><span class="red">*</span>
      <%= t.select :author_id, author, class: "form-control" %>
      <%= t.submit t(".post_stories"), class: "btn btn-primary" %>
    <% end %>
    <div class="condition"><b>* <%= t ".blank"%></b></div>
  </div>
</div>
