<% provide :title, @story.name %>
<h1>
  <%= t ".story" %> <%= @story.name %>
</h1>
<div class="image_story">
  <%= image_tag @story.image.url if @story.image? %>
</div>
<div class="describe_story">
  <%= @story.describe %>
  <div>
    <%= t ".author" %> <%= link_to @story.author_name, @story.author %>
  </div>
</div>
<div class="row">
  <b><%= t ".read" %></b>
  <hr>
  <div id="list-chapter">
    <%= render @chapters %>
  </div>
  <%= paginate @chapters, theme: "twitter-bootstrap-3" %>
  <% if logged_in? %>
    <div class="new_chapter">
      <% if current_member.admin? %>
        <b><%= t ".post" %></b>
        <%= link_to t(".new_chapter"), new_chapter_path(story_id: @story.id),
          id: "btn-new-chapter", remote: true %>
        <div id="chapter-new"></div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row">
  <b><%= @comments.size %> <%= t ".comment" %></b>
  <hr>
  <div>
    <%= render "comments/new", story: @story %>
  </div>
  <div id="list-comment">
    <%= render @comments %>
  </div>
  <%= paginate @comments, theme: "twitter-bootstrap-3" %>
</div>
