<%= form_for :chapter, url: chapters_path, remote: true  do |f| %>
  <%= f.label :name, class: "label-chapter" %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :content, class: "label-chapter" %>
  <div class="field">
    <%= f.cktext_area :content, placeholder: t(".content") %>
  </div>
  <%= f.hidden_field :story_id, value: story_id %>
  <%= f.submit t(".post"), class: "btn btn-primary" %>
<% end %>
