<% provide :title, @member.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="member_info">
      <h1>
        <%= gravatar_for @member %>
        <%= @member.name %>
      </h1>
    </section>
  </aside>
  <%= t ".currently_use" %> <%= @member.authors.size %>
  <%= t ".nickname" %> <%= @member.stories.size %> <%= t ".story" %>
</div>
<%= t ".with_nickname" %>
<hr>
<%= render @authors %>
<%= paginate @authors, theme: "twitter-bootstrap-3" %>
